<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon" />
        <link rel="stylesheet" th:href="@{/css/common/common.css}" />
        <link rel="stylesheet" th:href="@{/css/market/marketList.css}" />
        <script defer th:src="@{/js/market/marketList.js}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <title>마켓 리스트</title>
    </head>
    <body>
        <!--/* header */-->
        <th:block th:insert="~{fragment/header::header}"></th:block>

        <!-- search bar -->
        <div id="list-header-wrap" class="display-flex-set">
            <a id="write-btn" class="display-flex-set" th:href="@{/market/write}"><img src="/img/plus.png"></a>
            <form method="post"  name="search-form" th:action="@{/market/search}" autocomplete="off" class="display-flex">
                <input type="text" id="search-input" name="sq" th:value="${sq}" placeholder="상품명을 입력하세요"/>
                <button type="submit" id="search-btn" class="display-flex-set"><img src="/img/search.png"></button>
            </form>
        </div>

        <div id="marketList-wrap">
            <div id="list-wrap" class="display-flex">
                <a th:href="@{'/market/detail/' + ${market.id}}" th:each="market : ${lists}" class="list-content display-flex">
                    <img class="product-img" th:src="@{'/upload/' + ${market.marketImgs[0].fileName}}" />
                    <div class="product-inform display-flex-set">
                        <div class="product-name" th:text="${market.product}"></div>
                        <div class="product-region" th:text="${market.region}"></div>
                        <div class="product-price" th:text="${market.price} + ' 원'"></div>
                    </div>
                </a>
            </div>

            <!--/* pagination */-->
            <th:block th:insert="~{fragment/pagination::pagination}"></th:block>
        </div>
    </body>
</html>
