<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon" />
        <link rel="stylesheet" th:href="@{/css/common/common.css}" />
        <link rel="stylesheet" th:href="@{/css/home.css}" />
        <script defer th:src="@{/js/home.js}"></script>
        <script type="text/javascript" th:src="@{'//dapi.kakao.com/v2/maps/sdk.js?appkey=' + ${mapKey}}"></script> <!--/* 이게 되네 */-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/3295e8b88e.js" crossorigin="anonymous"></script>
        <title>KKIA TIGERS</title>
    </head>
    <body>
        <!--/* header */-->
        <th:block th:insert="~{fragment/header::header}"></th:block>

        <div id="main-wrapper">
            <div id="main-today" class="display-flex-set">
                <!-- 날짜 -->
                <div id="main-today-date-time" class="display-flex">
                    <div th:text="${today}"></div>
                    <div th:block th:if="${baseball}" id="today-time" th:text="${gameTime}"></div>
                </div>

                <th:block th:unless="${baseball}">
                    <div id="not-today" class="display-flex-set">오늘은 경기가 없습니다</div>
                </th:block>

                <th:block th:if="${baseball}">
                    <!-- 상대 -->
                    <ul id="main-today-opponent" class="display-flex-set">
                        <li id="away">
                            <img th:src="@{'/img/' + ${away.img}}"/>
                            <span th:text="${away.name}"></span>
                        </li>
                        <img src="/img/baseball.png" />
                        <li id="home">
                            <span th:text="${home.name}"></span>
                            <img th:src="@{'/img/' + ${home.img}}"/>
                        </li>
                    </ul>

                    <div id="main-today-inform" class="display-flex-set">
                        <!-- 엔트리 -->
                        <ul id="main-today-entry" class="display-flex">
                            <li class="display-flex-set">
                                <div class="entry-index">타순</div>
                                <div class="entry-player">선수명</div>
                                <div class="entry-player">AVG/ERA</div>
                                <div class="entry-player">OPS/WHIP</div>
                            </li>
                            <li class="display-flex-set" th:each="entry, state : ${entry}">
                                <div class="entry-index" th:text="${state.count}"></div>
                                <div class="entry-player" th:text="${entry.name}"></div>
                                <div class="entry-player" th:text="${entry.avgERA}"></div>
                                <div class="entry-player" th:text="${entry.opsWHIP}"></div>
                            </li>
                        </ul>

                        <!-- 지도 -->
                        <div class="place-content display-flex-set" id="place-map">
                            <div class="map-wrap">
                                <div id="latitude" th:text="${home.latitude}"></div>
                                <div id="longitude" th:text="${home.longitude}"></div>
                            </div>
                        </div>

                        <!-- 날씨 -->
                        <div class="place-content display-flex" id="place-weather">
                            <div id="weather-title">
                                <img src="/img/home-location.png"/>
                                <span id="location" th:text="${home.place}"></span>
                            </div>
                            <div id="weather-second" class="display-flex-set">
                                <div class="display-flex-set">
                                    <div id="weather-icon" th:text="${weather.weather[0].icon}"></div>
                                    <div >
                                        <span id="temperature" th:text="${weather.main.temp} + '°C'"></span>
                                    </div>
                                </div>
                                <div class="display-flex-set">
                                    <img src="/img/home-humidity.png"/>
                                    <span id="humidity" th:text="${weather.main.humidity} + '%'"></span>
                                </div>
                                <div class="display-flex-set">
                                    <img src="/img/home-cloud.png"/>
                                    <span id="cloud" th:text="${weather.clouds.all + '%'}"></span>
                                </div>
                                <div class="display-flex-set">
                                    <img src="/img/home-wind.png"/>
                                    <span id="wind" th:text="${weather.wind.speed} + 'm/s'"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>

            <div id="main-fan" class="display-flex-set">
                <div id="main-fan-content">
                    <ul id="slide-wrap" class="display-flex">
                        <li th:each="favorite : ${top5Favorites}">
                            <a th:href="@{'/community/favorite/detail/' + ${favorite.id}}">
                                <img th:src="@{'/upload/' + ${favorite.favoriteImgs[0].fileName}}" />
                            </a>
                        </li>
                    </ul>
                </div>
                <ul id="slide-btn-wrap" class="display-flex">
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            
            <div id="main-news" class="display-flex-set">
                <div id="main-news-title">NEWS</div>
                <div id="main-news-content" class="display-flex-set">
                    <a class="news-item" th:each="news : ${news.items}" target="_blank" th:href="${news.originallink}" th:text="${news.title}"></a>
                </div>
            </div>
        </div>
    </body>
</html>
