#pagination-content > li > a {
    display: block;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    font-weight: 600;
}
#pagination-content > li > a:hover {
    color: var(--kia-red);
}
#pagination-content > li > a.active {
    background-color: var(--kia-red);
    color: white;
    border-radius: 50%;
}